@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


h1, h2, h3 {
    font-family: 'Spartan', sans-serif;
}

h4, h5, h6, small, p {
    font-family: 'Open Sans', sans-serif;
}


body {
    padding: 0;
    overflow-x: scroll;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(56, 56, 56);
}

.navbar {
    width: 100vw;
    max-height: 104px;
    padding: 45px 95px 51px 97px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.navbar button {
    width: 119px;
    cursor: pointer;
    height: 48px;
    border-radius: 100px;
    text-align: center;
    font-weight: 500;
    border: none;
    outline: none;
}

.navbar ul {
    position: relative;
    left: 17px;
    margin-top: -5px;
    margin-left: 35px;
}

.nav-brand {
    width: 10%;
}

.navs {
    width: 10%;
}

.navs1 {
    width: max-content;
}

.navbar ul li {
    margin: 0 20px 0 28px;
}

#btnNavs {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_masuk {
    color: #1E272E;
    margin-right: 24px;
    outline: none;
    border: none;
}

.btn_daftar {
    color: white;
    background-color: #00B294;
    outline: none;
    border: none;
}

.btn_masuk2 {
    color: #1E272E;
    margin-right: 24px;
    outline: none;
    display: none;
    border: none;
}

.btn_daftar2 {
    color: white;
    background-color: #00B294;
    outline: none;
    display: none;
    border: none;
}

.hero-about {
    position: relative;
    padding: 186px 0 51px 96px;
    margin-top: -104px;
    left: 0;
    width: 100vw;
    height: max-content;
    display: flex;
    /* background-image: url('../img/hero.svg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.hero-right img {
    width: 70%;
}

.hero-left {
    text-align: left;
    width: 50%;
}

.hero-right {
    width: 50%;
    padding-left: 50px;
}

.hero-about p {
    font-size: 17px;
}

.title-about {
    border-left: 5px solid rgb(16, 163, 3);
    padding-left: 30px;
    position: relative;
    margin-bottom: 30px;
    left: 0;
    margin-left: 0px;
}

.btn_masuk3 {
    color: #1E272E;
    margin-right: 24px;
    display: none;
    outline: none;
    border: none;
}

.btn_daftar3 {
    color: white;
    display: none;
    background-color: #00B294;
    outline: none;
    border: none;
}

.green {
    color: rgb(16, 163, 3);
}

.title-about h4 {
    font-weight: 500;
    margin-bottom: 4px;
}

.title-about h1 {
    position: relative;
    font-weight: bold;
    font-size: 50px;
}

.service {
    position: relative;
    padding: 80px 0 50px 0;
    width: 100vw;
    height: max-content;
    background-color: rgba(250, 250, 250, 0.788);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-kotaks {
    position: absolute;
    bottom: 40px;
    right: 100px;
    z-index: -1;
    height: 140px;
}

.left-fl {
    position: absolute;
    left: 0;
    top: 3px;
    width: 190px;
}

.right-fl {
    position: absolute;
    right: 0;
    bottom: 3px;
    width: 210px;
}

.title-service h1 {
    position: relative;
    font-weight: bold;
    font-size: 44px;
}

.title-service h1::before {
    position: absolute;
    content: '';
    top: -10px;
    left: 0;
    width: 72px;
    height: 5px;
    background-color: rgb(16, 163, 3);
}

.title-service h4 {
    font-weight: bold;
}

.list-service {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.wrap-card {
    margin-top: 60px;
    position: relative;
}

.card-service {
    position: relative;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 280px;
    height: 300px;
    cursor: pointer;
    z-index: 6;
    margin: 24px 43px;
    background-color: #fff;
    padding: 24px 10px;
}

.bfr1 {
    position: absolute;
    width: 260px;
    left: 14px;
    border-radius: 4px;
    top: -10px;
    height: 100px;
    z-index: 1;
    background-color: rgb(229, 252, 192);
}

.bfr2 {
    position: absolute;
    width: 260px;
    left: 14px;
    border-radius: 4px;
    top: -10px;
    height: 100px;
    z-index: 1;
    background-color: rgb(205, 223, 255);
}

.btn-service {
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    background-color: rgb(16, 163, 3);
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    padding: 6px 10px;
}

.team {
    position: relative;
    width: 100vw;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 60px;
}

.team-kotak1 {
    position: absolute;
    right: 0;
    top: 80px;
    width: 170px;
}

.team-kotak2 {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.title-team {
    width: 100%;
    border-left: 5px solid rgb(16, 163, 3);
    padding-left: 30px;
    margin-left: 140px;
}

.green {
    color: rgb(16, 163, 3);
}

.title-team h4 {
    font-weight: 500;
    color: rgb(16, 163, 3);
    margin-bottom: 4px;
}

.title-team h1 {
    position: relative;
    font-weight: bold;
    margin-top: 10px;
}

.list-team {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    margin-top: 80px;
}

.card-team {
    width: 300px;
    margin: 0 20px;
    height: max-content;
    text-align: center;
}

.card-team h2 {
    font-size: 26px;
    font-weight: bold;
}

.card-team p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.btn-team {
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    background-color: rgb(16, 163, 3);
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
    padding: 8px 20px;
}

.footer {
    width: 100vw;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(16, 163, 3);
    color: white;
}

.logo-footer img {
    background-color: #fff;
    padding: 10px;
    transform: scale(0.9);
}

.logo-footer, .content-footer, .sosmed {
    text-align: center;
}

.content-footer p {
    align-items: center;
    width: 30%;
    margin-top: 14px;
    padding-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

.sosmed {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 18px;
    border-bottom: 2px solid rgba(231, 231, 231, 0.671);
}

.copyright {
    position: relative;
    width: 90%;
    padding-left: 70px;
    overflow: hidden;
    padding-top: 14px;
}


@media screen and (max-width: 567px) {
    
    .btn_masuk3 {
        width: 100vw;
        color: #1E272E;
        margin-right: 24px;
        outline: none;
        border: none;
        margin-top: 20px;
        display: inline;
    }
    
    .btn_daftar3 {
        color: white;
        background-color: #00B294;
        width: 100vw;
        outline: none;
        border: none;
        margin-top: 20px;
        display: inline;
    }
    
    .navbar {
        width: 100vw;
        max-height: max-content;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1px;
        padding-right: 3px;
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        z-index: 9999;
        justify-content: space-between;
        align-items: none;
    }
    
    .navbar button {
        width: 119px;
        cursor: pointer;
        height: 48px;
        border-radius: 100px;
        text-align: center;
        font-weight: 500;
        border: none;
        outline: none;
    }

    .btn_masuk {
        display: none;
    }

    .navbar a {
        text-decoration: none;
    }

    .btn_daftar {
        display: none;
    }

    .navbar img {
        width: 110px;
        position: relative;
        left: -70px;
    }

    .navbar-toggler {
        position: relative;
        left: 100px;
    }

    .navbar ul li {
      margin: 0;
      position: relative;
      left: -18px;
    }
    
    .navbar ul {
        margin-top: 10px;
        color: white;
        margin-left: 10px;
    }

    #btnNavs {
        display: none;
    }

    .navbar-toggler {
        z-index: 33;
    }

    .navbar li {
        margin-left: 0;
        left: 0;
    }
    
    .btn_masuk {
        color: #1E272E;
        margin-right: 24px;
        outline: none;
        border: none;
    }

    .navbar-toggler {
        position: relative;
    }

    button:active {
        border: none;
        outline: none;
    }

    .btn_masuk2 {
        display: inline-block;
    }

    .btn_daftar2 {
        display: none;
    }

    .navbar button {
        outline: none;
        border: none;
    }

    button:focus {
        outline: none;
    }
    
    .btn_daftar {
        color: white;
        background-color: #00B294;
        outline: none;
        border: none;
    }
        
    .hero-about {
        position: relative;
        padding: 150px 0 51px 20px;
        margin-top: -104px;
        left: 0;
        width: 100vw;
        height: max-content;
        flex-direction: column;
        display: flex;
        /* background-image: url('../img/hero.svg'); */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
    }

    .hero-right img {
        position: relative;
        width: 92%;
        z-index: 2;
    }

    .hero-left {
        text-align: left;
        width: 100%;
    }
 
    .hero-right {
        position: relative;
        width: 100%;
        padding-left: 0px;
        z-index: 3;
    }

    .hero-about p {
        font-size: 17px;
        width: 90vw;
    }

    .left-fl {
        width: 70px;
    }

    .right-fl {
        bottom: 10px;
        width: 80px;
    }

    .team-kotak1 {
        width: 70px;
        top: 200px;
    }

    .team-kotak2 {
        width: 70px;
        bottom: 30px;
    }

    .title-about {
        border-left: 5px solid rgb(16, 163, 3);
        padding-left: 30px;
        position: relative;
        margin-bottom: 30px;
        left: 0;
        margin-left: 0px;
    }

    .btn_masuk2 {
        color: #1E272E;
        margin-right: 24px;
        outline: none;
        display: none;
        border: none;
    }

    .btn_daftar2 {
        color: white;
        background-color: #00B294;
        outline: none;
        display: none;
        border: none;
    }

    .green {
        color: rgb(16, 163, 3);
    }

    .title-about h4 {
        font-weight: 500;
        margin-bottom: 4px;
    }

    .title-about h1 {
        position: relative;
        font-weight: bold;
        width: 80vw;
        font-size: 40px;
    }

    .service {
        position: relative;
        padding: 80px 0 50px 0;
        width: 100vw;
        height: max-content;
        background-color: rgb(239, 255, 251);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-service h1 {
        position: relative;
        font-weight: bold;
        font-size: 44px;
    }

    .title-service h1::before {
        position: absolute;
        content: '';
        top: -10px;
        left: 0;
        width: 72px;
        height: 5px;
        background-color: rgb(16, 163, 3);
    }

    .title-service h4 {
        font-weight: bold;
    }

    .list-service {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .wrap-card {
        margin-top: 60px;
        position: relative;
    }

    .card-service {
        position: relative;
        border-radius: 10px;
        border: none;
        outline: none;
        width: 75vw;
        height: max-content;
        cursor: pointer;
        z-index: 6;
        margin: 24px 43px;
        background-color: #fff;
        padding: 44px 10px;
    }
        
    .bfr1 {
        position: absolute;
        width: 260px;
        left: 14px;
        border-radius: 4px;
        top: -10px;
        height: 150px;
        z-index: 1;
        background-color: rgb(229, 252, 192);
    }

    .bfr2 {
        position: absolute;
        width: 260px;
        left: 14px;
        border-radius: 4px;
        top: -10px;
        height: 150px;
        z-index: 1;
        background-color: rgb(205, 223, 255);
    }

    .btn-service {
        border: none;
        outline: none;
        color: white;
        font-weight: 500;
        background-color: rgb(16, 163, 3);
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        padding: 6px 10px;
    }

    .team {
        position: relative;
        width: 100vw;
        height: max-content;
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .title-team {
        width: 100%;
        border-left: 5px solid rgb(16, 163, 3);
        padding-left: 30px;
        margin-left: 30px;
    }

    .green {
        color: rgb(16, 163, 3);
    }

    .title-team h4 {
        font-weight: 500;
        color: rgb(16, 163, 3);
        margin-bottom: 4px;
    }

    .title-team h1 {
        position: relative;
        font-weight: bold;
        margin-top: 10px;
        font-size: 36px;
    }

    .list-team {
        display: flex;
        justify-content: center;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }

    .card-team {
        width: 300px;
        height: max-content;
        margin-bottom: 50px;
        text-align: center;
    }

    .card-team h2 {
        font-size: 26px;
        font-weight: bold;
    }

    .card-team p {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .card-team img {
        width: 50%;
    }

    .btn-team {
        border: none;
        outline: none;
        color: white;
        font-weight: 500;
        background-color: rgb(16, 163, 3);
        cursor: pointer;
        border-radius: 50px;
        font-size: 18px;
        padding: 8px 20px;
    }
    
    .footer {
        width: 100vw;
        height: max-content;
        padding-top: 50px;
        padding-bottom: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(16, 163, 3);
        color: white;
    }

    .logo-footer img {
        background-color: #fff;
        padding: 10px;
        transform: scale(0.7);
    }

    .logo-footer, .content-footer, .sosmed {
        text-align: center;
    }

    .content-footer p {
        align-items: center;
        width: 90%;
        margin-top: 14px;
        font-size: 16px;
        padding-bottom: 14px;
        margin-left: auto;
        margin-right: auto;
    }

    .sosmed {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 18px;
        border-bottom: 2px solid rgba(231, 231, 231, 0.671);
    }

    .copyright {
        position: relative;
        width: 100%;
        padding-left: 30px;
        overflow: hidden;
        padding-top: 14px;
    }
}

@media screen and (min-width: 1800px) {
    .navbar ul {
        position: relative;
        left: 70%;
        margin-top: 40px;
        transform: translate(-50%, -50%);
    }

    .nn {
        position: relative;
        left: 220px;
    }
}