@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


h1, h2, h3 {
    font-family: 'Spartan', sans-serif;
}

.nn {
    position: relative;
    right: 60px;
}

h4, h5, h6, small, p {
    font-family: 'Open Sans', sans-serif;
}


body {
    padding: 0;
    overflow-x: scroll;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(56, 56, 56);
}

.navbar {
    width: 100vw;
    max-height: 104px;
    padding: 45px 95px 51px 97px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.navbar button {
    width: 119px;
    cursor: pointer;
    height: 48px;
    border-radius: 100px;
    text-align: center;
    font-weight: 500;
    border: none;
    outline: none;
}

.navbar ul {
    position: relative;
    left: 10px;
    margin-top: 5px;
    margin-left: 20px;
}

.nav-brand {
    width: 10%;
}

.navs {
    width: 10%;
}

.navs1 {
    width: max-content;
}

.navbar ul li {
    margin: 0 20px 0 28px;
}

#btnNavs {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_masuk {
    color: #1E272E;
    margin-right: 24px;
    outline: none;
    border: none;
}

.btn_daftar {
    color: white;
    background-color: #00B294;
    outline: none;
    border: none;
}

.btn_masuk2 {
    color: #1E272E;
    margin-right: 24px;
    outline: none;
    display: none;
    border: none;
}

.btn_daftar2 {
    color: white;
    background-color: #00B294;
    outline: none;
    display: none;
    border: none;
}

.green {
    color: rgb(16, 163, 3);
}

.footer {
    width: 100vw;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(198, 225, 201, 1);
    color: white;
}

.logo-footer img {
    background-color: #fff;
    padding: 10px;
    transform: scale(0.9);
}

.logo-footer, .content-footer, .sosmed {
    text-align: center;
}

.content-footer p {
    align-items: center;
    width: 30%;
    margin-top: 14px;
    padding-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

.sosmed {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 18px;
    border-bottom: 2px solid rgba(231, 231, 231, 0.671);
}

.copyright {
    position: relative;
    width: 90%;
    padding-left: 70px;
    overflow: hidden;
    padding-top: 14px;
}

.kotak-coll, .kotak-coll2 {
    position: absolute;
}

.kotak-coll {
    right: 0;
    margin-top: 50px;
    transform: rotateY(180deg);
    width: 190px;
}

.kotak-coll2 {
    right: 0;
    margin-top: -210px;
    width: 200px;
    transform: rotateY(180deg) rotateX(180deg);
}

.collection h1 {
    position: relative;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 120px;
    margin-bottom: 0px;
    font-size: 46px;
}

.collection h1::before {
    position: absolute;
    content: '';
    display: block;
    bottom: -15px;
    left: 5px;
    width: 100px;
    height: 7px;
    background-color: rgb(2, 201, 35);
    border-radius: 30px;
}

.collection {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.wrap-collection {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    align-items: center;
}

.coll-left {
    position: relative;
    width: 50%;
    overflow: hidden;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.coll-right {
    position: relative;
    overflow: hidden;
    width: 50%;
    display: flex;
}

.coll-right {
    display: flex;
    flex-wrap: wrap;
}

.coll-right span {
    width: 35%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coll-right span p {
    margin-left: 20px;
    margin-top: 15px;
}

.one {
    width: 16px;
    height: 16px;
    background-color: rgba(11, 232, 129, 1);
}

.two {
    width: 16px;
    height: 16px;
    background-color: rgba(93, 95, 239, 1);
}

.three {
    width: 16px;
    height: 16px;
    background-color: rgba(0, 87, 255, 1);
}

.four {
    width: 16px;
    height: 16px;
    background-color: rgba(255, 192, 72, 1);
}

.five {
    width: 16px;
    height: 16px;
    background-color: rgba(239, 93, 168, 1);
}

.six {
    width: 16px;
    height: 16px;
    background-color: rgba(52, 231, 228, 1);
}

.year h1 {
    position: relative;
    font-weight: bold;
    margin-top: 60px;
    font-size: 46px;
    margin-left: 120px;
    margin-bottom: 0px;
}


.year h1::before {
    position: absolute;
    content: '';
    display: block;
    bottom: -15px;
    left: 5px;
    width: 100px;
    height: 7px;
    background-color: rgb(2, 201, 35);
    border-radius: 30px;
}

.wrap-year {
    margin-top: 100px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}

#container {
    margin-top: -30px;
    width: 80%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 567px) {
    .btn_masuk2 {
        width: 100vw;
        color: #1E272E;
        margin-right: 24px;
        outline: none;
        border: none;
        margin-top: 20px;
        display: inline;
    }
    
    .btn_daftar2 {
        color: white;
        background-color: #00B294;
        width: 100vw;
        outline: none;
        border: none;
        margin-top: 20px;
        display: inline;
    }
    
    .navbar {
        width: 100vw;
        max-height: max-content;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1px;
        padding-right: 3px;
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        z-index: 9999;
        justify-content: space-between;
        align-items: none;
    }
    
    .navbar button {
        width: 119px;
        cursor: pointer;
        height: 48px;
        border-radius: 100px;
        text-align: center;
        font-weight: 500;
        border: none;
        outline: none;
    }

    .btn_masuk {
        display: none;
    }

    .navbar a {
        text-decoration: none;
    }

    .btn_daftar {
        display: none;
    }

    .navbar img {
        width: 110px;
        position: relative;
        left: -70px;
    }

    .navbar-toggler {
        position: relative;
        left: 100px;
    }

    .navbar ul li {
      margin: 0;
      position: relative;
      left: -10px;
    }
    
    .navbar ul {
        margin-top: 10px;
        color: white;
        margin-left: 10px;
    }

    #btnNavs {
        display: none;
    }

    .navbar-toggler {
        z-index: 33;
    }

    .navbar li {
        margin-left: 0;
        left: 0;
    }
    
    .btn_masuk {
        color: #1E272E;
        margin-right: 24px;
        outline: none;
        border: none;
    }

    .navbar-toggler {
        position: relative;
    }

    button:active {
        border: none;
        outline: none;
    }
    .footer {
        width: 100vw;
        height: max-content;
        padding-top: 50px;
        padding-bottom: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(198, 225, 201, 1);
        color: white;
    }

    .logo-footer img {
        background-color: #fff;
        padding: 10px;
        transform: scale(0.7);
    }

    .logo-footer, .content-footer, .sosmed {
        text-align: center;
    }

    .content-footer p {
        align-items: center;
        width: 90%;
        margin-top: 14px;
        font-size: 16px;
        padding-bottom: 14px;
        margin-left: auto;
        margin-right: auto;
    }

    .copyright {
        position: relative;
        width: 100%;
        padding-left: 30px;
        overflow: hidden;
        padding-top: 14px;
    }

    .kotak-coll {
        display: none;
    }
    
    .kotak-coll2 {
        display: none;
    }

    .collection h1 {
        margin-left: 20px;
        font-size: 40px;
    }

    .collection h1::before {
        position: absolute;
        content: '';
        display: block;
        bottom: -15px;
        left: 5px;
        width: 100px;
        height: 7px;
        background-color: rgb(2, 201, 35);
        border-radius: 30px;
    }

    .collection {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .wrap-collection {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 70px;
        align-items: center;
    }

    .coll-left {
        position: relative;
        width: 50%;
        overflow: hidden;
        display: flex;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .coll-right {
        position: relative;
        overflow: hidden;
        width: 50%;
        display: flex;
    }

    .coll-right {
        display: flex;
        padding-top: 30px;
        width: 80vw;
        flex-wrap: wrap;
    }

    .coll-right span {
        width: 100vw;
        margin: 20px;
        display: flex;
        justify-content: space-between;
        align-items: left;
    }

    .coll-right span p {
        margin-left: 0px;
        margin-top: 15px;
    }

    .one {
        width: 16px;
        height: 16px;
        background-color: rgba(11, 232, 129, 1);
    }

    .two {
        width: 16px;
        height: 16px;
        background-color: rgba(93, 95, 239, 1);
    }

    .three {
        width: 16px;
        height: 16px;
        background-color: rgba(0, 87, 255, 1);
    }

    .four {
        width: 16px;
        height: 16px;
        background-color: rgba(255, 192, 72, 1);
    }

    .five {
        width: 16px;
        height: 16px;
        background-color: rgba(239, 93, 168, 1);
    }

    .six {
        width: 16px;
        height: 16px;
        background-color: rgba(52, 231, 228, 1);
    }

    .year h1 {
        position: relative;
        font-weight: bold;
        margin-top: 60px;
        font-size: 40px;
        margin-left: 20px;
        margin-bottom: 0px;
    }


    .year h1::before {
        position: absolute;
        content: '';
        display: block;
        bottom: -15px;
        left: 5px;
        width: 100px;
        height: 7px;
        background-color: rgb(2, 201, 35);
        border-radius: 30px;
    }

    .wrap-year {
        margin-top: 100px;
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    #container {
        margin-top: -30px;
        width: 90%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 1800px) {
    .navbar ul {
        position: relative;
        left: 70%;
        margin-top: 40px;
        transform: translate(-50%, -50%);
    }

    .nn {
        position: relative;
        left: 220px;
    }
}