@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


h1, h2, h3 {
    font-family: 'Spartan', sans-serif;
}

.nn {
    position: relative;
    right: 60px;
}

h4, h5, h6, small, p {
    font-family: 'Open Sans', sans-serif;
}


body {
    padding: 0;
    overflow-x: scroll;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(56, 56, 56);
}

.navbar {
    width: 100vw;
    max-height: 104px;
    padding: 45px 95px 51px 97px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.navbar button {
    width: 119px;
    cursor: pointer;
    height: 48px;
    border-radius: 100px;
    text-align: center;
    font-weight: 500;
    border: none;
    outline: none;
}

.navbar ul {
    position: relative;
    left: 10px;
    margin-top: 35px;
    margin-left: 10px;
}

.wrap-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.user-left {
    width: max-content;
    justify-content: center;
    align-items: center;
    display: flex;
}

.user-left img {
    border-radius: 100px;
    margin-right: 10px;
}

.user-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout {
    position: absolute;
    width: max-content;
    padding: 20px;
    margin-top: 100px;
    transform: scale(0);
    opacity: 0;
    transition: 0.4s ease;
    border-radius: 10px;
    height: max-content;
    background-color: #fff;
    box-shadow: 1px 2px 6px rgba(221, 221, 221, 0.801);
}

.logout::before {
    position: absolute;
    content: '';
    display: flex;
    top: -10px;
    right: 30px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
}

.user-right img {
    margin-left: 15px;
}

.user-right .icons:hover {
    transition: 0.4s;
    filter: brightness(60%);
    margin-top: 6px;
    cursor: pointer;
}

.nav-brand {
    width: 10%;
}

.popup {
    position: fixed;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    z-index: 99999;
    background-image: url('../img/banner-product.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 50%;
    opacity: 0;
    top: 40%;
    transform: translate(-50%, -50%);
}

@keyframes pp {
    from {
        opacity: 0;
        top: 20%;
    }
    to {
        opacity: 1;
        top: 40%;
    }
}

.btn-popup {
    position: fixed;
    z-index: 99999;
    width: 200px;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(2, 197, 18);
    opacity: 0;
    color: white;
    cursor: pointer;
    padding: 14px;
}

@keyframes bp {
    from {
        opacity: 0;
        bottom: 0;
    }
    to {
        opacity: 1;
        bottom: 10%;
        z-index: 99999;
    }
}

.popup-back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    opacity: 0;
    height: 100vh;
    background-color: rgba(7, 7, 7, 0.658);
}

.navs {
    width: 10%;
}

.navs1 {
    width: max-content;
}

.navbar ul li {
    margin: 0 20px 0 28px;
}

#btnNavs {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_masuk {
    color: #1E272E;
    margin-right: 24px;
    outline: none;
    border: none;
}

.btn_daftar {
    color: white;
    background-color: #00B294;
    outline: none;
    border: none;
}

.btn_masuk2 {
    color: #1E272E;
    margin-right: 24px;
    outline: none;
    display: none;
    border: none;
}

.btn_daftar2 {
    color: white;
    background-color: #00B294;
    outline: none;
    display: none;
    border: none;
}

.kotak {
    position: relative;
    width: 100vw;
    height: 300px;
    background-color: rgb(255, 255, 255);
}

.kotak1 {
    position: absolute;
    left: 0;
    top: 0;
}

.kotak2 {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -20px;
    left: 50%;
}

.hero {
    position: relative;
    padding: 186px 0 51px 96px;
    margin-top: -104px;
    left: 0;
    width: 100vw;
    height: 650px;
    display: flex;
    flex-direction: column;
    /* background-image: url('../img/hero.svg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.heros {
    position: absolute;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.boxs {
    position: absolute;
    width: 440px;
    bottom: -110px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #00B294;
    box-direction: -50px;
    right: 50px;
    padding: 20px;
    z-index: 3;
    color: white;
}

.drop-fl2 {
    position: absolute;
    width: 240px;
    top: 20px;
    right: 0;
}

.boxs p {
    width: 100%;
}

.boxs::before {
    position: absolute;
    content: '';
    margin-top: 30px;
    margin-left: -30px;
    width: 100%;
    z-index: 1;
    height: 100%;
    border: 3px solid #00B294;
    border-radius: 4px;
}

.hero::before {
    position: absolute;
    content : '';
    left: 0;
    top: 0;
    width: 60%;
    height: 650px;
    background: linear-gradient(90deg, #000000 -17.18%, rgba(0, 0, 0, 0.660654) 49.05%, rgba(0, 0, 0, 0) 100%);
}

.list-hero {
    color: white;
    z-index: 2;
}

.list-hero div {
    margin-bottom: 14px;
}

.list-hero img {
    margin-right: 12px;
}

.title {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 70vw;
    font-size: 60px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    align-items: center;
    z-index: 4;
}

.hero .p {
    z-index: 2;
    width: 45%;
    margin-top: 16px;
    font-weight: 500;
    margin-top: 18px;
    font: 20;
    color: white;
}

.navbar ul {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
}

.btn_hero {
    width: 175px;
    cursor: pointer;
    height: 48px;
    margin-top: 20px;
    border-radius: 130px;
    text-align: center;
    font-weight: 500;
    border: none;
    outline: none;
    color: white;
    background-color: #00B294;
    z-index: 2;
}

.count {
    position: relative;
    display: flex;
    width: 100vw;
    height: 280px;
    padding-top: 66;
    display: flex;
    text-align: center;
    /* background-image: url('../img/bg_count.svg'); */
    background-color: lavender;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.count h1 {
    color: white;
}

.box {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.box1, .box2 {
    border-right: 2px solid white;
}

.title2 {
    font-size: 20px;
}

.drop {
    position: relative;
    padding: 50px 0;
    width: 100vw;
    height: max-content;
}

.title-drop {
    width: 100%;
    border-left: 5px solid rgb(16, 163, 3);
    padding-left: 30px;
    margin-left: 100px;
}

.green {
    color: rgb(16, 163, 3);
}

.title-drop h4 {
    font-weight: 500;
    color: rgb(16, 163, 3);
    margin-bottom: 4px;
}

.card-drop h2 {
    position: relative;
    margin-top: 35px;
    font-size: 23px;
    font-weight: bold;
}

.card-drop h2::before {
    position: absolute;
    content: '';
    top: -20px;
    left: 0;
    width: 100px;
    height: 6px;
    background-color: rgb(16, 163, 3);
}

.card-drop h4 {
    margin: 18px 0;
    font-size: 15px;
}

.title-drop h1 {
    position: relative;
    font-weight: bold;
}

.list-card-drop {
    display: flex;
    padding-top: 26px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;
}

.card-drop {
    width: 270px;
    overflow: hidden;
    height: max-content;
    border-radius: 10px;
    padding: 26px 16px;
    text-align: left;
    margin: 32px 40px;
    transition: 0.4s;
}

.card-drop:hover {
    transition: 0.4s;
    box-shadow: 1px 2px 6px rgba(192, 192, 192, 0.726);
}

.btn-drop {
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    background-color: rgb(16, 163, 3);
    cursor: pointer;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
}

.features {
    position: relative;
    padding: 50px 0 100px 0px;
    width: 100vw;
    height: max-content;
}

.features-kotak {
    position: absolute;
    top: 50px;
    right: 500px;
}

.title-features {
    width: 100%;
    border-left: 5px solid rgb(16, 163, 3);
    padding-left: 30px;
    margin-left: 100px;
}

.green {
    color: rgb(16, 163, 3);
}

.title-features h4 {
    font-weight: 500;
    color: rgb(16, 163, 3);
    margin-bottom: 4px;
}

.title-features h1 {
    font-weight: bold;
}

.list-card-features {
    display: flex;
    padding-top: 26px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;
}

.card-features {
    width: 270px;
    overflow: hidden;
    height: max-content;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
    margin: 32px;
}

.card-features h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.card-features .read-more {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.card-features:hover {
    transition: 0.4s;
    box-shadow: 1px 2px 6px rgba(192, 192, 192, 0.726);
}

.btn-features {
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    background-color: rgb(16, 163, 3);
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

.benefits {
    position: relative;
    width: 100vw;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-kotak {
    position: absolute;
    top: 0;
    right: 70px;
}

.benefits-kotaks {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    left: -10px;
    width: 160px;
}

.benefits-kotaks2 {
    position: absolute;
    top: -20px;
    z-index: 1;
    left: 390px;
    width: 160px;
}

.benefits-left {
    width: 40%;
    display: flex;
    align-items: center;
    height: 500px;
    padding: 24px;
}

.benefits-left img {
    width: 110%;
    z-index: 3;
    margin-left: 30px;
}

.benefits-right {
    width: 60%;
    height: 500px;
}

.title-benefits {
    width: 100%;
    border-left: 5px solid rgb(16, 163, 3);
    padding-left: 30px;
    margin-left: 100px;
}

.green {
    color: rgb(16, 163, 3);
}

.title-benefits h4 {
    font-weight: 500;
    color: rgb(16, 163, 3);
    margin-bottom: 4px;
}

.title-benefits h1 {
    font-weight: bold;
}

.list-benefits {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
}

.child-benefits h3 {
    font-size: 20px;
}

.child-benefits {
    width: 70%;
    margin-bottom: 30px;
    text-align: left;
    border-radius: 10px;
    height: 120px;
    padding: 20px;
    display: flex;
    transition: 0.4s;
}

.child-benefits:hover {
    cursor: pointer;
    box-shadow: 1px 2px 6px rgba(179, 179, 179, 0.747);
    transition: 0.4s;
}

.list-benefits .img-benefits .img:nth-child(1) {
    border-radius: 90px;
    background-color: greenyellow;
    padding: 10px;
}

.list-benefits .img-benefits .img2 {
    border-radius: 90px;
    background-color: rgb(169, 206, 255);
    padding: 10px;
}

.list-benefits .img-benefits .img3 {
    border-radius: 90px;
    background-color: rgb(118, 248, 125);
    padding: 10px;
}

.content-benefits {
    padding-left: 20px;
}

.products {
    position: relative;
    padding: 50px 0;
    width: 100vw;
    height: max-content;
    background-color: rgba(250, 250, 250, 0.788);
}

.title-products {
    width: 100%;
    border-left: 5px solid rgb(16, 163, 3);
    padding-left: 30px;
    margin-left: 100px;
}

.green {
    color: rgb(16, 163, 3);
}

.title-products h4 {
    font-weight: 500;
    color: rgb(16, 163, 3);
    margin-bottom: 4px;
}

.title-products h1 {
    font-weight: bold;
}

.list-card-products {
    display: flex;
    padding-top: 26px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;
}

.card-products {
    width: 240px;
    overflow: hidden;
    height: max-content;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
    margin: 32px 40px;
}

.card-products h2 {
    margin-top: 18px;
    font-size: 20px;
    font-weight: 500;
}

.card-products .read-more {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.btn-products {
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    background-color: rgb(16, 163, 3);
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

.card-products h1 {
    font-weight: bold;
    font-size: 20px;
}

.card-products .btn-products {
    border: none;
    outline: none;
    color: white;
    margin-top: 14px;
    font-weight: 500;
    background-color: rgb(16, 163, 3);
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

.btn-load {
    position: relative;
    display: flex;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    font-weight: 500;
    background-color: rgb(16, 163, 3);
    cursor: pointer;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 40px;
    cursor: pointer;
    padding: 8px 6px;
    transition: 0.4s;
}

.btn-load:hover {
    filter: brightness(80%);
    transition: 0.4s;
}

.join {
    position: relative;
    padding: 60px 0;
    width: 100vw;
    height: max-content;
}

.title-join {
    width: 93%;
    border-left: 5px solid rgb(16, 163, 3);
    padding-left: 30px;
    margin-left: 100px;
}

.green {
    color: rgb(16, 163, 3);
}

.title-join h4 {
    font-weight: 500;
    color: rgb(16, 163, 3);
    margin-bottom: 4px;
}

.title-join h1 {
    font-weight: bold;
}

.list-card-join {
    display: flex;
    padding-top: 26px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;
}

.card-join {
    width: 230px;
    transition: 0.4s;
    overflow: hidden;
    height: max-content;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
    margin: 32px;
}

.card-join h2 {
    margin-top: 18px;
    font-size: 24px;
    font-weight: bold;
}

.card-join .read-more {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.btn-join {
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    background-color: rgb(16, 163, 3);
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

.card-join .btn-join {
    border: none;
    outline: none;
    color: white;
    margin-top: 14px;
    font-weight: 500;
    background-color: rgb(16, 163, 3);
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: max-content;
    justify-content: center;
    padding-bottom: 40px;
    align-items: center;
}

.form-fl2 {
    position: absolute;
    width: 220px;
    top: 40px;
    right: 0px;
}

.form-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    width: 50%;
}

.form-wrap {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.form-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-top: 60px;
}

.form-right h3 {
    font-weight: bold;
}

.form-left form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

form input {
    border-radius: 6px;
    background-color: rgb(238, 238, 238);
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: black;
    width: 400px;
    height: 50px;
}

::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 500;
}

textarea {
    border-radius: 6px;
    background-color: rgb(238, 238, 238);
    border: none;
    outline: none;
    font-size: 19px;
    font-weight: 500;
    padding-left: 20px;
    padding-bottom: 10px;
    color: black;
    width: 400px;
    height: 150px;
}

.submit {
    border: none;
    outline: none;
    color: white;
    width: max-content;
    border-radius: 6px;
    background-color: rgb(16, 163, 3);
    font-size: 20px;
    margin-top: 18px;
    padding: 6px 50px;
}

.kontak {
    display: flex;
    margin-bottom: 30px;
}

.list-kontak {
    margin-top: 30px;
}

.kontak-right {
    margin-left: 20px;
}

.kontak-right p {
    width: 100%;
    font-weight: bold;
}

.footer {
    width: 100vw;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(198, 225, 201, 1);
    color: white;
}

.logo-footer img {
    background-color: #fff;
    padding: 10px;
    transform: scale(0.9);
}

.logo-footer, .content-footer, .sosmed {
    text-align: center;
}

.content-footer p {
    align-items: center;
    width: 30%;
    margin-top: 14px;
    padding-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

.sosmed {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 18px;
    border-bottom: 2px solid rgba(231, 231, 231, 0.671);
}

.copyright {
    position: relative;
    width: 90%;
    padding-left: 70px;
    overflow: hidden;
    padding-top: 14px;
}

@media screen and (max-width: 767px) {

    .kotak {
        display: none;
    }

    body, html {
        overflow-x: hidden;
    }

    .popup {
        width: 85vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .btn-popup {
        position: fixed;
        width: 70vw;
    }
        
    .wrap-user {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0px;
        width: max-content;
    }

    .user-left {
        position: relative;
        left: 40px;
        width: max-content;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .user-left img {
        border-radius: 300px;
        transform: scale(0.4);
        margin-right: 0px;
        position: relative;
        left: 10px;
    }

    .wrap-user small {
        color: black;
        position: relative;
        left: -90px;
    }

    .user-right {
        position: relative;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-right img {
        position: relative;
        transform: scale(0.15);
    }

    .logout {
        position: absolute;
        width: max-content;
        padding: 20px;
        right: 88px;
        margin-top: -10px;
        transform: scale(0);
        opacity: 0;
        transition: 0.4s ease;
        border-radius: 10px;
        height: max-content;
        background-color: #fff;
        box-shadow: 1px 2px 6px rgba(221, 221, 221, 0.801);
    }

    .logout::before {
        position: absolute;
        content: '';
        display: flex;
        top: -10px;
        right: 30px;
        width: 20px;
        height: 20px;
        background-color: #fff;
        transform: rotate(45deg);
    }

    .navbar {
        width: 100vw;
        max-height: max-content;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0px;
        padding-left: 1px;
        padding-right: 3px;
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        z-index: 9999;
        justify-content: space-between;
        align-items: none;
    }
    
    .navbar button {
        width: 119px;
        cursor: pointer;
        height: 48px;
        border-radius: 100px;
        text-align: center;
        font-weight: 500;
        border: none;
        outline: none;
    }

    .btn_masuk {
        display: none;
    }

    .navbar a {
        text-decoration: none;
    }

    .btn_daftar {
        display: none;
    }

    .btn_masuk2 {
        color: #1E272E;
        margin-right: 24px;
        outline: none;
        border: none;
        margin-top: 20px;
        display: inline;
    }
    
    .navbar img {
        width: 110px;
        position: relative;
        left: -70px;
    }

    .navbar-toggler {
        position: relative;
        left: 100px;
    }
    
    .btn_daftar2 {
        color: white;
        background-color: #00B294;
        outline: none;
        border: none;
        margin-top: 20px;
        display: inline;
    }
    
    .navbar ul {
        margin-top: 180px;
        color: white;
        margin-left: 10px;
    }

    .navbar-toggler {
        z-index: 33;
    }
    
    .btn_masuk {
        color: #1E272E;
        margin-right: 24px;
        outline: none;
        border: none;
    }

    .navbar-toggler {
        position: relative;
    }

    button:active {
        border: none;
        outline: none;
    }

    .navbar button {
        outline: none;
        border: none;
    }

    button:focus {
        outline: none;
    }

    .navbar ul li {
        margin: 0;
        position: relative;
        left: -5px;
      }
    
    .btn_daftar {
        color: white;
        background-color: #00B294;
        outline: none;
        border: none;
    }
        
    .title {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        line-height: 1.4em;
        margin-right: 0;
        justify-content: left;
        text-align: left;
        width: 60vw;
        font-size: 50px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        align-items: left;
        z-index: 4;
    }

    .hero .p {
        z-index: 2;
        width: 90%;
        margin-left: 20px;
        margin-top: 16px;
        font-weight: 500;
        margin-top: 18px;
        font: 20;
        color: white;
    }

    .dot {
        display: none;
    }

    .hero {
        position: relative;
        padding: 186px 0 51px 6px;
        margin-top: -104px;
        left: 0;
        width: 100vw;
        height: max-content;
        display: flex;
        flex-direction: column;
        /* background-image: url('../img/hero.svg'); */
        background-position: center;
        background-size: cover;
        filter: brightness(90%);
        object-fit: cover;
        background-color: rgb(109, 109, 109);
        background-repeat: no-repeat;
        z-index: 1;
    }

    .hero::before {
        position: absolute;
        content : '';
        left: 0;
        top: 0;
        width: 60%;
        height: 100%;
        background: linear-gradient(90deg, #000000 -17.18%, rgba(0, 0, 0, 0.660654) 49.05%, rgba(0, 0, 0, 0) 100%);
    }
    
    .boxs {
        position: absolute;
        width: 80vw;
        bottom: -225px;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        z-index: 3;
        background-color: #00B294;
        box-direction: -50px;
        right: 20px;
        padding: 20px;
        color: white;
    }
    
    .boxs p {
        width: 100%;
        z-index: 77;
        font-size: 16px;
    }
    
    .list-hero {
        color: white;
        margin-left: 20px;
        z-index: 2;
    }

    .list-hero div {
        margin-bottom: 14px;
    }

    .list-hero img {
        margin-right: 12px;
    }

    .count {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 280px;
        width: 100vw;
        height: max-content;
        padding-top: 66px;
        display: flex;
        text-align: center;
        /* background-image: url('../img/bg_count.svg'); */
        background-color: lavender;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
    }
    
    .box {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 40px;
    }
    
    .box1, .box2 {
        border-right: none;
        border-bottom: 2px solid white;
    }

    .count h1 {
        color: white;
    }

    .title2 {
        color: white;
    }
    
    .title2 {
        font-size: 20px;
    }
    
    .drop {
        position: relative;
        padding: 50px 0 0px 0px;
        margin-top: 40px;
        width: 100vw;
        height: max-content;
    }
    
    .title-drop {
        width: 100%;
        border-left: 5px solid rgb(16, 163, 3);
        padding-left: 30px;
        margin-left: 30px;
    }
    
    .green {
        color: rgb(16, 163, 3);
    }
    
    .title-drop h4 {
        font-weight: 500;
        color: rgb(16, 163, 3);
        margin-bottom: 4px;
    }
    
    .card-drop h2 {
        font-size: 23px;
        margin-top: 40px;
        font-weight: bold;
    }

    .card-drop p {
        font-size: 17px;
    }
    
    .title-drop h1 {
        position: relative;
        color: black;
        font-size: 30px;
        font-weight: bold;
    }

    .drop-fl2 {
        position: absolute;
        width: 100px;
        top: 0px;
        right: -20px;
    }
    
    .list-card-drop {
        display: flex;
        flex-direction: column;
        padding-top: 26px;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding-left: 0;
        height: max-content;
    }
    
    .card-drop {
        width: 80vw;
        overflow: hidden;
        height: max-content;
        border-radius: 10px;
        transform: scale(0.9);
        padding: 16px;
        color: black;
        text-align: left;
        margin: 32px 20px 40px 0;
        transition: 0.4s;
    }
    
    .card-drop:nth-child(1) {
        box-shadow: 1px 2px 6px rgba(192, 192, 192, 0.726);
    }
    
    .card-drop:hover {
        transition: 0.4s;
        box-shadow: 1px 2px 6px rgba(192, 192, 192, 0.726);
    }

    .btn_hero {
        width: 175px;
        cursor: pointer;
        height: 48px;
        margin-left: 22px;
        margin-top: 20px;
        border-radius: 130px;
        text-align: center;
        font-weight: 500;
        border: none;
        outline: none;
        color: white;
        background-color: #00B294;
        z-index: 2;
    }

    .drop {
        border: none;
        outline: none;
        color: white;
        font-weight: 500;
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
    }
    
    .features {
        position: relative;
        padding: 50px 0 50px 0px;
        width: 100vw;
        height: max-content;
    }
    
    .title-features {
        width: 100%;
        border-left: 5px solid rgb(16, 163, 3);
        padding-left: 30px;
        margin-left: 30px;
    }
    
    .green {
        color: rgb(16, 163, 3);
    }
    
    .title-features h4 {
        font-weight: 500;
        color: rgb(16, 163, 3);
        margin-bottom: 4px;
    }
    
    .title-features h1 {
        margin-top: 10px;
        font-weight: bold;
        width: 85%;
    }
    
    .list-card-features {
        display: flex;
        padding-top: 26px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: max-content;
    }
    
    .card-features {
        width: 270px;
        overflow: hidden;
        height: max-content;
        padding-bottom: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(0.9);
        border-radius: 10px;
        padding: 16px;
        margin: 32px;
        transition: 0.4s;
    }

    .card-features:hover {
        box-shadow: 1px 2px 6px rgba(167, 167, 167, 0.637);
        transition: 0.4s;
    }
    
    .card-features h2 {
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
    }
    
    .card-features .read-more {
        text-align: center;
        text-decoration: none;
        font-weight: 500;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .btn-features {
        border: none;
        outline: none;
        color: white;
        font-weight: 500;
        background-color: rgb(16, 163, 3);
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
    }
        
    .benefits {
        position: relative;
        width: 100vw;
        height: max-content;
        padding-top: 0px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }   
        
    .title-benefits {
        width: 80vw;
        border-left: 5px solid rgb(16, 163, 3);
        padding-left: 30px;
        margin-left: 100px;
        margin-left: -36px;
    }

    .green {
        color: rgb(16, 163, 3);
    }

    .title-benefits h4 {
        font-weight: 500;
        color: rgb(16, 163, 3);
        margin-bottom: 4px;
    }

    .title-benefits h1 {
        font-weight: bold;
        font-size: 32px;
        margin-top: 10px;
    }

    .benefits-left {
        width: 100%;
        display: flex;
        align-items: left;
        display: none;
        height: max-content;
        padding: 24px;
    }

    .benefits-kotak {
        top: -20px;
        right: 10px;
        transform: scale(0.9);
    }

    .benefits-kotaks2, .benefits-kotaks {
        display: none;
    }

    .benefits-left img {
        width: 110%;
    }

    .benefits-right {
        width: 60%;
        height: max-content;
    }

    .list-benefits {
        display: flex;
        width: 100%;
        justify-content: left;
        align-items: left;
        margin-top: 60px;
        flex-direction: column;
    }

    .child-benefits h3 {
        font-size: 20px;
    }

    .child-benefits {
        width: 90vw;
        margin-bottom: 30px;
        text-align: left;
        border-radius: 10px;
        height: 180px;
        padding: 20px;
        display: flex;
        transition: 0.4s;
    }

    .products {
        position: relative;
        padding: 50px 0;
        width: 100vw;
        height: max-content;
        background-color: rgb(239, 255, 251);
    }
    
    .title-products {
        width: 100%;
        border-left: 5px solid rgb(16, 163, 3);
        padding-left: 20px;
        margin-left: 40px;
    }
    
    .green {
        color: rgb(16, 163, 3);
    }
    
    .title-products h4 {
        font-weight: 500;
        color: rgb(16, 163, 3);
        margin-bottom: 4px;
    }
    
    .title-products h1 {
        font-weight: bold;
        font-size: 32px;
        margin-top: 10px;
    }
    
    .list-card-products {
        display: flex;
        flex-direction: column;
        padding-top: 26px;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: max-content;
    }
    
    .card-products {
        width: 270px;
        overflow: hidden;
        height: max-content;
        padding-bottom: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transform: scale(0.9);
        padding: 16px;
        margin: 32px 32px 0px 32px;
    }
    
    .card-products h2 {
        margin-top: 18px;
        font-size: 24px;
        font-weight: 500;
    }
    
    .card-products .read-more {
        text-align: center;
        text-decoration: none;
        font-weight: 500;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .btn-products {
        border: none;
        outline: none;
        color: white;
        font-weight: 500;
        background-color: rgb(16, 163, 3);
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
    }
    
    .card-products h1 {
        font-weight: bold;
        font-size: 20px;
    }
    
    .card-products .btn-products {
        border: none;
        outline: none;
        color: white;
        margin-top: 14px;
        font-weight: 500;
        background-color: rgb(16, 163, 3);
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
    }
    
    .btn-load {
        position: relative;
        display: flex;
        text-align: center;
        border: none;
        outline: none;
        color: white;
        justify-content: center;
        align-items: center;
        margin-top: 14px;
        font-weight: 500;
        background-color: rgb(16, 163, 3);
        cursor: pointer;
        width: 190px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        font-size: 18px;
        margin-top: 40px;
        cursor: pointer;
        padding: 8px 6px;
        transition: 0.4s;
    }
        
    .join {
        position: relative;
        padding: 60px 0;
        width: 100vw;
        height: max-content;
    }

    .title-join {
        width: 93%;
        border-left: 5px solid rgb(16, 163, 3);
        padding-left: 30px;
        margin-left: 30px;
    }

    .green {
        color: rgb(16, 163, 3);
    }

    .title-join h4 {
        font-weight: 500;
        color: rgb(16, 163, 3);
        margin-bottom: 4px;
    }

    .title-join h1 {
        font-size: 32px;
        margin-top: 10px;
        font-weight: bold;
    }

    .list-card-join {
        display: flex;
        flex-direction: column;
        padding-top: 26px;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: max-content;
    }

    .card-join {
        width: 270px;
        overflow: hidden;
        height: max-content;
        padding-bottom: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(0.9);
        border-radius: 10px;
        padding: 16px;
        margin: 32px 32px 20px 32px;
    }

    .kotak2 {display: none;}

    .card-join h2 {
        margin-top: 18px;
        font-size: 24px;
        font-weight: bold;
    }

    .card-join .read-more {
        text-align: center;
        text-decoration: none;
        font-weight: 500;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .btn-join {
        border: none;
        outline: none;
        color: white;
        font-weight: 500;
        background-color: rgb(16, 163, 3);
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
    }

    .card-join .btn-join {
        border: none;
        outline: none;
        color: white;
        margin-top: 14px;
        font-weight: 500;
        background-color: rgb(16, 163, 3);
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
    }
        
    .form {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: max-content;
        justify-content: center;
        padding-bottom: 40px;
        align-items: center;
    }

    .form-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 12px;
        width: 50%;
    }

    .form-wrap {
        display: flex;
        justify-content: center;
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }

    .form-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        padding-top: 60px;
    }

    .form-right h3 {
        font-weight: bold;
    }

    .form-left form {
        margin-top: 70px;
        overflow: hidden;
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    form input {
        border-radius: 6px;
        background-color: rgb(238, 238, 238);
        border: none;
        outline: none;
        padding-left: 20px;
        font-size: 19px;
        font-weight: 500;
        padding-bottom: 10px;
        margin-bottom: 20px;
        color: black;
        width: 100%;
        height: 50px;
    }
    
    ::-webkit-input-placeholder {
        font-size: 18px;
        font-weight: 500;
    }
    
    textarea {
        border-radius: 6px;
        background-color: rgb(238, 238, 238);
        border: none;
        outline: none;
        font-size: 19px;
        font-weight: 500;
        padding-left: 20px;
        padding-bottom: 10px;
        color: black;
        width: 100%;
        height: 150px;
    }

    .submit {
        border: none;
        outline: none;
        color: white;
        width: max-content;
        border-radius: 6px;
        background-color: rgb(16, 163, 3);
        font-size: 20px;
        margin-top: 18px;
        padding: 6px 50px;
    }

    .kontak {
        display: flex;
        margin-bottom: 30px;
    }

    .list-kontak {
        margin-top: 30px;
    }

    .kontak-right {
        margin-left: 20px;
    }

    .kontak-right p {
        width: 100%;
        font-weight: bold;
    }

    form

    form .fr1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer {
        width: 100vw;
        height: max-content;
        padding-top: 50px;
        padding-bottom: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(198, 225, 201, 1);
        color: white;
    }

    .logo-footer img {
        background-color: #fff;
        padding: 10px;
        transform: scale(0.7);
    }

    .logo-footer, .content-footer, .sosmed {
        text-align: center;
    }

    .content-footer p {
        align-items: center;
        width: 90%;
        margin-top: 14px;
        font-size: 16px;
        padding-bottom: 14px;
        margin-left: auto;
        margin-right: auto;
    }

    .sosmed {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 18px;
        border-bottom: 2px solid rgba(231, 231, 231, 0.671);
    }

    .copyright {
        position: relative;
        width: 100%;
        padding-left: 30px;
        overflow: hidden;
        padding-top: 14px;
    }

    .boxs::before {
        position: absolute;
        content: '';
        margin-top: 14px;
        margin-left: -30px;
        width: 100%;
        height: 100%;
        z-index: 1;
        border: 3px solid #00B294;
        border-radius: 4px;
    }
        
    .kotak {
        position: absolute;
        width: 100vw;
        height: 300px;
        background-color: rgb(255, 255, 255);
    }

    .kotak1 {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }

    .kotak2 {
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: -20px;
        left: 50%;
    }
}


@media screen and (min-width: 1800px) {
    .navbar ul {
        position: relative;
        left: 70.5%;
        margin-top: 40px;
        transform: translate(-50%, -50%);
    }

    .nn {
        position: relative;
        left: 240px;
    }
}