@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


h1, h2, h3 {
    font-family: 'Spartan', sans-serif;
}

h4, h5, h6, small, p {
    font-family: 'Open Sans', sans-serif;
}


body {
    padding: 0;
    overflow-x: scroll;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(56, 56, 56);
}

.navbar {
    width: 100vw;
    max-height: 104px;
    padding: 45px 95px 51px 97px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.navbar button {
    width: 119px;
    cursor: pointer;
    height: 48px;
    border-radius: 100px;
    text-align: center;
    font-weight: 500;
    border: none;
    outline: none;
}

.navbar ul {
    margin-top: 30px;
    margin-left: -10px;
}

#btnNavs {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_masuk {
    color: #1E272E;
    margin-right: 24px;
    outline: none;
    border: none;
}

.btn_daftar {
    color: white;
    background-color: #00B294;
    outline: none;
    border: none;
}

.btn_masuk2 {
    color: #1E272E;
    margin-right: 24px;
    outline: none;
    display: none;
    border: none;
}

.btn_daftar2 {
    color: white;
    background-color: #00B294;
    outline: none;
    display: none;
    border: none;
}

.navbar ul {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
}

.green {
    color: rgb(16, 163, 3);
}

.footer {
    width: 100vw;
    height: max-content;
    padding-top: 50px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(16, 163, 3);
    color: white;
}

.logo-footer img {
    background-color: #fff;
    padding: 10px;
    transform: scale(0.9);
}

.logo-footer, .content-footer, .sosmed {
    text-align: center;
}

.content-footer p {
    align-items: center;
    width: 30%;
    margin-top: 14px;
    padding-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

.sosmed {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 18px;
    border-bottom: 2px solid rgba(231, 231, 231, 0.671);
}

.copyright {
    position: relative;
    width: 90%;
    padding-left: 70px;
    overflow: hidden;
    padding-top: 14px;
}

.formulir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

form {
    position: relative;
    width: 100vw;
    margin-top: 110px;
    margin-left: 240px;
}

.fre2, .fre3, .fre4, .fre5, .fre6, .fre7, .fre8, .fre9, .fre10 {
    margin: 0px 0 40px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.fre3, .fre4, .fre5, .fre6, .fre7, .fre8, .fre9, .fre10, .fre11{
    margin: 0px 0 40px 0;
    width: 75vw;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 15px;
    width: 90%;
    font-weight: bold;
}

textarea {
    height: 140px;
    border-radius: 4px;
    padding: 12px;
}

.wrap-check {
    margin-bottom: 30px;
    display: flex;
    padding-left: 30px;
}

.fre11 input {
    margin-right: 10px;
}

.btn {
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btn-formulir {
    position: relative;
    border: none;
    outline: none;
    width: 180px;
    margin-left: -95px;
    color: white;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    font-weight: 500;
    background-color: rgb(16, 163, 3);
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    padding: 9px 14px;
}

.lain {
    width: 55%;
    padding-left: 10px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgb(102, 102, 102);
}

.fre {
    margin-bottom: 30px;
}

.formulir .fre1 {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulir .fre2 {
    width: 80%;
    padding-left: 70px;
    display: flex;
    justify-content: left;
}

.fre4 input {
    border-radius: 10px;
    width: 100%;
    border: 1px solid rgb(145, 145, 145);
    color: black;
    font-weight: 500;
    padding: 10px;
}

.fre2 select {
    border-radius: 10px;
    width: 60%;
    border: 1px solid rgb(95, 95, 95);
    background-color: transparent;
    color: black;
    font-weight: 500;
    padding: 10px;
}

.formulir {
    position: relative;
    height: max-content;
    width: 100vw;
}

.formulir h1 {
    font-size: 46px;
    margin-top: 70px;
    font-weight: bold;
}

@media screen and (max-width: 567px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        width: 100vw;
        max-height: max-content;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1px;
        padding-right: 3px;
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        z-index: 9999;
        justify-content: space-between;
        align-items: none;
    }
    
    .navbar button {
        width: 119px;
        cursor: pointer;
        height: 48px;
        border-radius: 100px;
        text-align: center;
        font-weight: 500;
        border: none;
        outline: none;
    }

    .btn_masuk {
        display: none;
    }

    .navbar a {
        text-decoration: none;
    }

    .btn_daftar {
        display: none;
    }

    .btn_masuk2 {
        color: #1E272E;
        margin-right: 24px;
        outline: none;
        border: none;
        margin-top: 20px;
        display: inline;
    }
    
    .navbar img {
        width: 60%;
    }
    
    .btn_daftar2 {
        color: white;
        background-color: #00B294;
        outline: none;
        border: none;
        margin-top: 20px;
        display: inline;
    }
    
    .navbar ul {
        margin-top: 180px;
        color: white;
        margin-left: 10px;
    }

    #btnNavs {
        display: none;
    }

    .navbar-toggler {
        z-index: 33;
    }
    
    .btn_masuk {
        color: #1E272E;
        margin-right: 24px;
        outline: none;
        border: none;
    }

    .navbar-toggler {
        position: relative;
    }

    button:active {
        border: none;
        outline: none;
    }

    .navbar button {
        outline: none;
        border: none;
    }

    button:focus {
        outline: none;
    }
    
    .btn_daftar {
        color: white;
        background-color: #00B294;
        outline: none;
        border: none;
    }
    
    .formulir {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }

    .formulir .fre2 {
        width: 100vw;
        padding-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    form {
        width: 100vw;
        margin-left: 60px;
        margin-top: 60px;
    }

    .fre {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fre2, .fre3, .fre4, .fre5, .fre6, .fre7, .fre8, .fre9, .fre10, .fre11 {
        margin: 0px 0 40px 0;
        margin-left: -30px;
        width: 100vw;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }
    
    label {
        margin-bottom: 15px;
        width: 90%;
        margin-left: 0px;
        font-weight: bold;
    }
    
    textarea {
        height: 140px;
        border-radius: 4px;
        padding: 12px;
    }

    .fre1 {
        flex-wrap: wrap;
    }

    .fre11 {
        padding-left: 2px;
    }
    
    .wrap-check {
        margin-bottom: 30px;
        display: flex;
        width: 100vw;
        flex-direction: column;
        padding-left: 0px;
        justify-content: center;
        height: max-content;
        align-items: center;
    }

    .fre11 label {
        margin-left: 20px;
    }

    .wrap-check .check {
        display: flex;
        flex-direction: column; 
        width: 100vw;
    }

    .ckc {
        position: relative;
        top: 20px;
        right: -100px;
    }

    .fre input {
        width: 90vw;
    }

    .fre select {
        width: 90vw;
    }

    .fre2 select {
        border-radius: 10px;
        border: 1px solid rgb(95, 95, 95);
        background-color: transparent;
        color: black;
        font-weight: 500;
        padding: 10px;
    }

    textarea {
        position: relative;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
        
    .formulir h1 {
        font-size: 50px;
        margin-left: -20px;
        margin-top: 70px;
        font-weight: bold;
        margin-right: auto;
        font-weight: bold;
    }

    .fre1 input {
        margin-bottom: 20px;
    }
    
    .fre11 input {
        margin-right: 10px;
    }
    
    .btn {
        width: 100vw;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .btn-formulir {
        position: relative;
        border: none;
        outline: none;
        width: 180px;
        margin-left: auto;
        color: white;
        transform: translate(-50%, -50%);
        margin-top: 30px;
        font-weight: 500;
        background-color: rgb(16, 163, 3);
        cursor: pointer;
        border-radius: 5px;
        font-size: 18px;
        padding: 9px 14px;
    }
    
    .lain {
        width: 90vw;
        display: flex;
        justify-content: center;
        margin-left: 15px;
        align-items: center;
        height: 40px;
        padding-left: 10px;
        border-radius: 6px;
        border: 1px solid rgb(102, 102, 102);
    }
    
    .footer {
        width: 100vw;
        height: max-content;
        padding-top: 50px;
        padding-bottom: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(16, 163, 3);
        color: white;
    }

    .logo-footer img {
        background-color: #fff;
        padding: 10px;
        transform: scale(0.7);
    }

    .logo-footer, .content-footer, .sosmed {
        text-align: center;
    }

    .content-footer p {
        align-items: center;
        width: 90%;
        margin-top: 14px;
        font-size: 16px;
        padding-bottom: 14px;
        margin-left: auto;
        margin-right: auto;
    }
}